environment:
  APPVEYOR_SAVE_CACHE_ON_ERROR: true
  matrix:
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
      GENERATOR_NAME: "Visual Studio 16 2019"
      platform: x86
      PLATFORM_NAME: "Win32"
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
      GENERATOR_NAME: "Visual Studio 16 2019"
      platform: x64
      PLATFORM_NAME: "x64"

configuration:
  - Debug
  - Release

shallow_clone: true

build:
  verbosity: detailed

cache:
  - c:\tools\vcpkg\installed\

install:
  - vcpkg install --triplet %platform%-windows
    boost

before_build:
  - cd %APPVEYOR_BUILD_FOLDER%
  - cd ..
  - git clone https://github.com/rhalbersma/xstd.git
  - git clone https://github.com/rhalbersma/bit_set.git
  - cd %APPVEYOR_BUILD_FOLDER%
  - mkdir build
  - cd build
  - cmake --version
  - cmake .. -G "%GENERATOR_NAME%" -A %PLATFORM_NAME%
    "-DCMAKE_TOOLCHAIN_FILE=c:/tools/vcpkg/scripts/buildsystems/vcpkg.cmake"

build_script:
  - cmake --build . --config %configuration% -v

test_script:
  - ctest -E "search|traversal"
